:root {
    --primary-color: #0f1a2c;
    --secondary-color: #f6ac0f;
    --text-light: #64748b;
    --extra-light: #f8fafc;
    --white: #fff;
    --max-width: 1200px;
    --header-font: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section-subheader {
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);

}

.section-header {
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
}

.section-description {
    margin-top: 1rem;
    color: var(--text-light);
}

.btn {
    padding: .75rem 2rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section-nav span {
    padding: 10px 15px;
    font-size: 1.25rem;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.section-nav span:hover {
    background-color: var(--secondary-color);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: var(--text-light);
    letter-spacing: 2px;
}

.logo div {
    padding-inline: 12px;
    font-size: 2rem;
}

img,
video {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav-bar {
    position: relative;
    isolation: isolate;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--extra-light);
}

.nav-menu-btn {
    font-size: 1.5rem;
    color: var(--text-dark);
    cursor: pointer;
}


.nav-links {
    list-style: none;
    position: absolute;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--white);
    transform: translateY(-100%);
    transition: 0.5S;
    z-index: -1;
}

.nav-links.open {
    transform: translateY(0);
}

.nav-links a {
    color: var(--text-light);
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--secondary-color);
}

.header {
    padding-block: 5rem;
    background-image: linear-gradient(rgba(15, 26, 44, 0.5),
            rgba(15, 26, 44, 0.5)),
        url(https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGx1eHVyeSUyMGhvdGVsfGVufDB8fDB8fHww);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-container .section-subheader {
    color: var(--white);
}

.header-container h1 {
    margin-bottom: 2rem;
    font-size: 6rem;
    font-weight: 800;
    line-height: 7rem;
    font-family: var(--header-font);
    color: var(--white);
}

.booking {
    background-color: var(--primary-color);
}

.booking-container form {
    max-width: 350px;
    margin: auto;
    display: grid;
    gap: 2rem;
}

.input-group {
    display: grid;
    gap: 1rem;
}

.input-group label {
    font-weight: 600;
    color: var(--white);
}

.input-group input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--white);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--text-light);
    border-radius: 5px;

}

.input-group input::placeholder {
    color: var(--text-light);
}

/* .about {
    position: absolute;
    isolation: isolate;
} */

.about::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    height: 75%;
    width: 100%;
    background-image: url("https://media.istockphoto.com/id/1456628414/photo/beautiful-palms-and-blue-hotel-pool.webp?b=1&s=170667a&w=0&k=20&c=TYGjH6yMcCUG9KdyXjzXpJOcaxPGBNDv3NxmW8msHAA=");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.05;
    z-index: -1;
}


.about-container {
    display: grid;
    gap: 4rem 2rem;
}

.about-grid {
    display: grid;
    gap: 1rem;
}

.about-card {
    height: 100%;
    padding: 2rem;
    display: grid;
    place-content: center;
    text-align: center;
}

.about-card span {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: var(--secondary-color);
}

.about-card h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    font-weight: var(--header-font);
    color: var(--text-dark);
}

.about-card p {
    color: var(--extra-light);
}

.about-card:nth-child(4) {
    background-color: var(--primary-color);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.about-card:nth-child(4) :is(h4, p) {
    color: var(--white);
}

.about-image img {
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.about-content .section-description {
    margin-bottom: 2rem;
}

.room-container {
    padding-block: 5rem;
}

.room-container :is(.section-subheader, .section-header) {
    padding-inline: 1rem;
    text-align: center;
}

.room-grid {
    max-width: 1500px;
    margin-inline: auto;
    margin-top: 4rem;
    display: grid;
    gap: 0 1rem;
}

.room-card img {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.room-card-details {
    margin-inline: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--white);
    transform: translateY(-50%);
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}

.room-card-details h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
}

.room-card-details p {
    color: var(--text-light);
}

.room-card-details h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.room-card-details h3 span {
    font-size: 0.8rem;
}